node_modules
.DS_Store
.vscode
npm-debug.log
yarn-error.log
uploads/

# Ignore database credential files
backend/generated/prisma

backend/src/generated/prisma

backend/src/generated/prisma

backend/src/generated/prisma

./generated/prisma
./src/generated/prisma

node_modules
.parcel-cache
dist
dist/
./dist/
./dist
frontend/dist
frontend/.parcel-cache
.vscode
.git.bfg-report