DOCKER_DB_HOST=db
DATABASE_URL="mysql://root:1234@localhost:3306/imageprocessing"
DB_HOST=localhost
DB_PORT=3306
DB_USER=username
DB_PASSWORD=password
DB_NAME=imageprocessing
NODE_ENV=docker
PORT=4000

MINIO_ENDPOINT="http://host.docker.internal:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password"
MINIO_REGION="us-east-1"

JWT_ACCESS_TOKEN='your-access-token-here'
JWT_REFRESH_TOKEN='your-refresh-token-here'
