DATABASE_URL="mysql://root:test@localhost:3307/imageprocessing"
DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=test
DB_NAME=imageprocessing
NODE_ENV=test
PORT=4000

BUCKET_NAME="z-image-processing-storage"
BUCKET_REGION="eu-north-1"
ACCESS_KEY="test-access-key"
SECRET_ACCESS_KEY="test-secret-key"

S3_ENDPOINT=""
PUBLIC_S3_ENDPOINT=""
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password"
MINIO_REGION="us-east-1"

JWT_ACCESS_TOKEN='94c75c55c8cf86358d7cf28e657f5112a0c0b5caa2eb2ebdbfdfe06a0ba5fe964cb5b349352014cd6ee9bbdc6a827fbe3b57256ff1728e36f1114e28a7a31656'
JWT_REFRESH_TOKEN='ae6fef1d23ed4607b4aedb09e6f79d3ae944149dc461a0ae2688c6e15d2f1ac3a6f7c1736fb0626c476a48a4821f4bb29d5f4bab65d6d50279b5c9e7fc269fb8'
