DOCKER_DB_HOST=db
DATABASE_URL="mysql://root:1234@localhost:3306/imageprocessing"
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=imageprocessing
NODE_ENV=development
PORT=4000

BUCKET_NAME="bucket-name"
BUCKET_REGION="bucket-region"
ACCESS_KEY="access-key"
SECRET_ACCESS_KEY="secret-key"

MINIO_ENDPOINT="http://host.docker.internal:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password"
MINIO_REGION="us-east-1"

JWT_ACCESS_TOKEN='your-own-access-token'
JWT_REFRESH_TOKEN='your-own-refresh-token'
